h1 {
color: rgba(207, 47, 25, 0.822);
font-size: 30px;
font-family: fantasy;
text-align: center;

}


/* body{
    background-image: url(/imagenes/foo-fighter1.jpg); 
    background-image: url(/imagenes/Foo_Fighters2.jpg);
    background-image: url(/imagenes/foo3.jpg);
}   */

p{
    text-align: justify;
}

iframe{
    s
}